// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainshow {

  background-color: gold;
  margin-top: 5px;
  border: 2px solid;

}

#main-title {

  font-family: sans-serif;

}

.links {

  font-family: sans-serif;
  font-style: oblique;
  background-color: lightblue

}
